/* Filters styles */
.filter-options {
    display: flex;
    width: 25%;
    height: 100%;
    border-right: 1px solid #DDDDDD;
    justify-content: space-between;
    align-items: flex-start;
}

.locations, .amenities {
    width: 48%; /* Adjust as needed */
}

.locations h3, .amenities h3 {
    font-weight: 600;
}

.locations h4, .amenities h4 {
    font-weight: 400;
    font-size: 14px;
}

