section.places{
	text-align: center; /* aim: to make all inline boxes centralised*/
}
section.places h1 {
    text-align: left;
    font-size: 30px;
}

section.places article {
    display:inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

section.places h2 {
    font-size: 30px;
    text-align: center;
}

