section.places{
	text-align: center; /* aim: to make all inline boxes centralised*/
}
section.places h1 {
    text-align: left;
    font-size: 30px;
}

section.places article {
    display:inline-block;
    width: 390px;
    padding: 20px;
    margin: 20px;
    border: 1px solid #FF5A5F;
    border-radius: 4px;
}

section.places h2 {
    display: inline-block;
    width: 77%;    
    font-size: 30px;
    text-align: center;
}
div.price_by_night{
	display: inline-block;
	color: #FF5A5F;
	border: 5px solid #FF5A5F;
	border-radius: 50%;
	min-width:60px;
	height:60px;
	font-size:30px;
	line-height:1.5;
	margin-bottom: 10px;
	padding-top: 10px;
	padding-left: 5px;
	padding-right: 5px;
}

div.information {
	display:flex;
	height: 80px;
	border-top: 1px solid #DDD;
	border-bottom: 1px solid #DDD;
	justify-content:center;
	alighn-items: center;

}
.max_guest, .number_rooms, .number_bathrooms{
	width: 100px;
}

/*set backgound images from guest to bathrooms*/
.max_guest{
	background: white url("../images/icon_group.png") 50% 50% no-repeat;
}
.number_rooms{
        background: white url("../images/icon_bed.png") 20px 50% no-repeat;
}
.number_bathrooms{
        background: white url("../images/icon_bath.png") 20px 50% no-repeat;
}

/* description alignmet for airbnb*/
.description{
	text-align: left;
}
.user {
	text-align: left;
}
.owner{ font-weight: bold;} /* make the owner class bold*/
